/*menu*/
.menu {
    display: flex;
}
.menu-item {
    flex-grow: 1;
    /* width: 25%; */
    background: gold;
    transition: 0.5s;
}
.menu-item:hover {
    flex-grow: 1.5;
    /* width: 35%; */
    background: crimson;
}
.menu-link {
    display: block;
    /*em과 rem을 섞어쓴이유는 ? 
    일단 font사이즈는 html태그 즉, 루트 요소것을 쓰겠다.
    그 html의 설정된 font사이즈를 1.2배로 한 것이고,

    padding : 1em으로 한 이유는 지금 현재 나의  font 사이즈만큼 
    패딩을 준다는 의미이다. */
    padding: 1em;
    font-size: 1.2rem;
    font-weight: bold;
    color: #555;
    text-decoration: none;
    text-align: center;
}

/* search */
.search-form {
    display: flex;
    height: 40px;
}

.search-form input[type="search"] {
    flex: 1;
    margin-right: 10px;
    border: 0;
    border-radius: 0.3em;
    font-size: 1rem;
}

.search-form input[type="submit"] {
    width: 4em;
    border: 0;
    border-radius: 0.3em;
    font-size: 1rem;
    background: gold;
}
/*info-list-item:before*/
.info-list-item {
    display: flex;
    margin: 0.5em 0;
}
.info-list-item:before {
    content: "🍉";
    margin-right: 0.5em;
}

/*message*/
.user-item {
    display: flex;

    margin-bottom: 1.5em;
}
.user-photo {
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    margin-right: 0.5em;
    border: 2px solid #333;
    border-radius: 50%;
    /*구체적으로작성*/
    background-color: gold;
    background-repeat: no-repeat;
    /*일반적으로ㅓ center로많이 작성*/
    background-position: center;
    background-size: 150%;
}

/*friend list*/
.friend-item {
    align-items: center;
}
/*그냥 말줄임 하려면 이 아래 세개를 외워두자*/
.user-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
