body {
    height: 500vw;
    font-family: "Apple SD Gothic Neo", "Roboto", "Noto Sans KR", NanumGothic,
        "Malgun Gothic", sans-serif;
    -webkit-overflow-scrolling: touch;
    color: #555;
    background: #fff000;
    transition: background 0.5s;
}
